body {
    background-color: #f5f5f5;
}

footer {
    position: absolute;
    bottom: 10;
}

.main-wrapper {
    position: relative;
}
.personal {
    background-color: #3c3a40;
    color: #FFFFFF;
    flex-grow: 1;
    height: 100vh;
    text-align: right;
}

.main-content {
    background-color: #f5f5f5;
    flex-grow: 3;

}
.personal-info {
    margin-right: 15px;
    height: 100vh;
}

.ben-image {
    width: 100px;
    margin: 15px 0;;
}
